    <div class="canvas-btn-holder">
        <%= button icon('remove') + '<span class="canvas-btn-label">消す</span>'.html_safe, { :id => "draw-clear-btn", :class => "btn-lg" } %>
    </div>

    <div class="canvas-bg-btn-holder">
        <%= image_tag("/images/tex/sky/sky1_t.jpg", {:id => "change-tex-btn1", :class => "change-tex-btn", :val => "1"}) %>
        <%= image_tag("/images/tex/sky/sky2_t.jpg", {:id => "change-tex-btn2", :class => "change-tex-btn", :val => "2"}) %>
        <%= image_tag("/images/tex/sky/sky3_t.jpg", {:id => "change-tex-btn3", :class => "change-tex-btn", :val => "3"}) %>
    </div>
